.default-background {
    background-color: #f0ebdc !important;
}

.header-secondary-text {
    font-size: 20px;
    color: #7b7d7d;
}

.small-break {
    height: 15px;
}

.medium-text {
    font-size: 20px !important;
}

.medium-small-text {
    font-size: 18px !important;
}

.orange-text {
    color: #DC7633;
    font-weight: bold;
}

.orange-highlight {
    background-color: #EDBB99;
}

.author-link {
    text-decoration: underline;
    color: black;

}

.center-align {
    text-align: center !important;
}

.gif-width {
    width: 275px;
}

.chicago-bulls {
    color: #CB4335;
}

.la-lakers {
    color: #9B59B6;
}

.bucks {
    color: #1E8449;
}

.footer-color {
    background-color: #E5E8E8 !important;
}